.filter {
  padding-bottom: 20px;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__title {
    padding: 0 10px;
    font-size: 20px;
  }

  &__elements {
    &-list {
      display: flex;
    }

    &-item {
      position: relative;
      z-index: 1;
      padding: 4px 5px;
      margin: 10px;
      margin: 0 13px;
      border-radius: 2px;
      background-color: $color_secondary;

      &::before {
        position: absolute;
        z-index: -1;
        bottom: rem(-0.5px);
        left: rem(-30px);
        width: 0;
        height: 0;
        border: solid rem(15.5px) transparent;
        border-right-color: $color_secondary;
        border-radius: rem(2px);
        content: '';
      }

      &::after {
        position: absolute;
        top: 50%;
        left: -4px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $color_accent_secondary;
        transform: translateY(-50%);
        content: '';
      }
    }
  }
}
