.logo {
  position: relative;
  max-width: rem(150px);

  @include laptop {
    max-width: rem(120px);
  }

  &::after {
    @include center;
    position: absolute;
    display: block;
    width: rem(155px);
    height: rem(155px);
    background: url('/portfolio/images//logo-brim.png') center / cover no-repeat;
    content: '';

    @include laptop {
      width: rem(125px);
      height: rem(125px);
    }
  }

  &-img {
    @include img();
  }

  &-letter {
    @include font('sl');
    position: absolute;
    top: 54%;
    left: 51%;
    font-size: rem(100px);
    color: $color_secondary;
    transform: translate(-50%, -50%);
    user-select: none;

    @include laptop {
      font-size: rem(86px);
    }
  }
}
