.logo {
  max-width: rem(150px);

  @include laptop {
    max-width: rem(120px);
  }

  &-img {
    @include img();
  }

  &-letter {
    @include font('sl');
    position: absolute;
    top: 54%;
    left: 51%;
    font-size: rem(100px);
    color: $color_secondary;
    transform: translate(-50%, -50%);
    user-select: none;

    @include laptop {
      font-size: rem(86px);
    }
  }
}
