.logo {
  @include center(x);
  z-index: 10;
  top: 10%;
  max-width: rem(150px);

  &__img {
    @include img();
  }

  &__letter {
    @include font('sl');
    position: absolute;
    top: 54%;
    left: 51%;
    font-size: rem(100px);
    color: $color_text_light;
    transform: translate(-50%, -50%);
    user-select: none;
  }
}
