.ornament {
  display: flex;
  justify-content: center;
  align-items: center;

  &__clipart {
    &-wrapper {
      display: flex;
      padding: 0 rem(10px);

      @include mobile {
        padding: 0 rem(6px);
      }
    }

    &-item {
      position: relative;
      display: block;
      width: rem(15px);
      height: rem(15px);

      @include laptop {
        width: rem(12px);
        height: rem(12px);
      }

      @include mobile {
        width: rem(10px);
        height: rem(10px);
      }

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: rem(2px);
        height: 100%;
        background-color: $color_text;
        content: '';
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__line {
    width: rem(60px);
    height: rem(3px);
    background-color: $color_text;

    @include laptop {
      width: rem(45px);
      height: rem(2px);
    }

    @include mobile {
      width: rem(35px);
      height: rem(3px);
    }
  }
}
