.ribbon {
  position: relative;
  display: block;
  padding-top: rem(20px);
  text-align: center;
  user-select: none;

  &__dots {
    display: inline-flex;
    vertical-align: middle;

    @include mobile {
      display: none;
    }

    &-wrapper {
      display: inline-flex;
      margin: 0 rem(-10px);
    }
  }

  &__dot {
    width: rem(6px);
    height: rem(6px);
    margin: 0 rem(10px);
    border-radius: 50%;
    background-color: $color_ribbon;

    @include laptop {
      width: rem(5px);
      height: rem(5px);
    }
  }

  &__content {
    display: inline-block;
    vertical-align: middle;
  }

  &__edge {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: rem(25px) solid $color_ribbon;

    @include laptop {
      border-width: rem(20px);
    }

    @include mobile {
      border-width: rem(17.5px);
    }

    &::after {
      position: absolute;
      z-index: 2;
      bottom: rem(-25px);
      display: inline-block;
      border: rem(13px) solid transparent;
      content: '';

      @include laptop {
        bottom: rem(-20px);
      }

      @include mobile {
        bottom: rem(-17.5px);
      }
    }

    &_right {
      border-right-color: transparent;

      &::after {
        left: rem(-25px);
        border-left-color: $color_accent_dark;

        @include laptop {
          left: rem(-20px);
        }

        @include mobile {
          left: rem(-17.5px);
        }
      }
    }

    &_left {
      border-left-color: transparent;

      &::after {
        right: rem(-25px);
        border-right-color: $color_accent_dark;

        @include laptop {
          right: rem(-20px);
        }

        @include mobile {
          right: rem(-17.5px);
        }
      }
    }
  }

  &__main {
    position: relative;
    z-index: 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    min-width: rem(320px);
    height: rem(57px);
    padding: 0 rem(80px);
    margin: rem(-20px) rem(-17px) 0;
    box-shadow: rem(2px) rem(4px) rem(10px) 0 $color_shadow;
    background-color: $color_ribbon;

    @include laptop {
      min-width: rem(250px);
      height: rem(48px);
    }

    @include mobile {
      min-width: rem(200px);
      height: rem(42px);
      padding: 0 rem(10px);
    }

    &::before,
    &::after {
      position: absolute;
      z-index: 4;
      left: 0;
      display: block;
      width: 100%;
      border-top: 1px dashed rgba($color_stitch, 0.7);
      content: '';
    }

    &::before {
      top: 3px;
    }

    &::after {
      bottom: 3px;
    }
  }

  &__text {
    text-transform: uppercase;
    font-size: rem(36px);
    line-height: 1;
    color: $color_text;

    @include laptop {
      font-size: rem(28px);
    }

    @include mobile {
      font-size: rem(24px);
    }
  }
}
