.ribbon {
  display: block;
  padding-top: 20px;
  text-align: center;
  user-select: none;

  &__dots {
    display: inline-flex;
    vertical-align: middle;

    &-wrapper {
      display: inline-flex;
      margin: 0 -10px;
    }
  }

  &__dot {
    width: 6px;
    height: 6px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: $color_ribbon;
  }

  &__content {
    display: inline-block;
    vertical-align: middle;
  }

  &__edge {
    $width_border_edge: 25px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: $width_border_edge solid $color_ribbon;

    &::after {
      position: absolute;
      z-index: 2;
      bottom: -$width_border_edge;
      display: inline-block;
      vertical-align: bottom;
      border: 13px solid transparent;
      content: '';
    }

    &_right {
      border-right-color: transparent;

      &::after {
        left: -$width_border_edge;
        border-left-color: $color_ribbon_shadow;
      }
    }

    &_left {
      border-left-color: transparent;

      &::after {
        right: -$width_border_edge;
        border-right-color: $color_ribbon_shadow;
      }
    }
  }

  &__main {
    position: relative;
    z-index: 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    min-width: 320px;
    height: 57px;
    padding: 0 80px;
    margin: -20px -17px 0;
    box-shadow: 2px 4px 10px 0 $color_shadow;
    background-color: $color_ribbon;
  }

  &__text {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1;
    color: $color_logo;
  }
}
