.section {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    z-index: 4;
    left: 0;
    display: block;
    width: 100%;
    border-top: 1px dashed rgba($color_stitch, 0.7);
    content: '';
  }

  &::before {
    top: 16px;
  }

  &::after {
    bottom: 16px;
  }

  &_after-only {
    &::before {
      content: none;
    }
  }

  &_before-only {
    &::after {
      content: none;
    }
  }
}
