{
  "trailingComma": "es5",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.pug",
      "options": {
        "parser": "pug",
        "attributeSeparator": "as-needed"
      }
    }
  ]
}
