header.header
  .container
    .header__wrapper
      nav.nav
        each text in nav
          a(href="#").nav__link= text
      .logo
        img(src="./images/logo-bg.png" alt="Logo background").logo__img
        .logo__letter M