.container
  header.header
    .container
      .header__wrapper
          .logo
              img.logo__img(src="https://cdn.sympli.io/bundles/5e8a002e3fbacc164106474b/fc6da480d4cd39a917204a8e22645a08e1cff881ea/bundle/7.png" alt="")
              .logo__letter M

          nav.nav
              a.nav__link About me
              a.nav__link Portfolio
              a.nav__link My blog
              a.nav__link Contact me