include ../elements/form/input
include ../elements/form/textarea
include ../elements/form/submit

form.form(action='#' method='post')
  .form__fieldset
    +input('name', 'Name')
  .form__fieldset
    +input('email', 'E-mail address', 'email')
  .form__fieldset
    +input('subject', 'Subject')
  .form__fieldset
    +textarea('message', 'Your message')
  .form__submit
    +submit('Send Message')
