form.form(action='#' method='post')
  .form__fieldset
    input.form__text(type='text' name='name' placeholder='Name')
  .form__fieldset
    input.form__text(type='text' name='email' placeholder='Email address')
  .form__fieldset
    input.form__text(type='text' name='subject' placeholder='Subject')
  .form__fieldset
    textarea.form__message(name='Message' placeholder='Your message')
  button.form__button(type='submit') Send Message
