.gallery-section
  .gallery__wrapper
    .gallery
      ul.gallery
        each product in gallery
          li.gallery__item
            .gallery__product
              .gallery__pic(style=`background-image: url('${product.src}')`)
              .gallery__info
                .gallery__icon-wrapper
                  .gallery__icon
                    span(class=product.icon aria-label=product.iconAlt)
                .gallery__desc= product.desc
