mixin section-head(title = 'Title', desc = 'Description', isAccent = false)
  .section-head(class=isAccent && "section-head_accent")
    h2.section-head__title= title
    .section-head__ornament
      include ../elements/ornament
      .section-head__desc
        p= desc
