// Slider main container
.swiper-container
  // Additional required wrapper
  .swiper-wrapper
    // Slides
    each slide in heroSlides
      .swiper-slide
        .hero__slide
          .hero__slide-pic(style=`background-image:url(${slide.src})`)= slide.alt
          .hero__slide-desc= slide.desc
    
  // If we need navigation buttons
  .hero__swiper__button
    .hero__swiper__button__prev
    .hero__swiper__button__next