.about {
  background: url('/images/about/bg.png') center / cover no-repeat;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-15px) rem(-40px);
  }

  &__item {
    width: 25%;
    padding: 0 rem(15px);
    margin-bottom: rem(40px);

    @include laptop {
      padding: 0 rem(9px);
    }

    @include mobile {
      width: 100%;
      margin-bottom: rem(30px);
    }
  }

  &__pic {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(200px);
    height: rem(200px);
    margin: 0 auto rem(20px);
    font-size: rem(100px);
    line-height: 1;
    color: $color_secondary;

    @include laptop {
      width: rem(140px);
      height: rem(140px);
      font-size: rem(70px);
    }

    @include mobile {
      width: rem(150px);
      height: rem(150px);
      font-size: rem(65px);
    }

    &::before {
      @include center;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $color_circle;
      content: '';
    }

    &::after {
      @include center;
      width: rem(180px);
      height: rem(180px);
      border: solid rem(4px) $color_secondary;
      border-radius: 50%;
      content: '';

      @include laptop {
        width: rem(125px);
        height: rem(125px);
      }

      @include mobile {
        width: rem(135px);
        height: rem(135px);
      }
    }
  }

  &__title {
    @include font;
    margin-bottom: rem(10px);
    text-align: center;
    text-transform: uppercase;
    font-size: rem(40px);
    line-height: 1;
    color: $color_text;

    @include laptop {
      font-size: rem(25px);
    }

    @include mobile {
      font-size: rem(30px);
    }
  }

  &__subtitle {
    @include font(300);
    position: relative;
    padding-bottom: rem(20px);
    margin-bottom: rem(20px);
    text-align: center;
    text-transform: uppercase;
    font-size: rem(20px);
    line-height: 1;
    color: $color_text;

    @include laptop {
      padding-bottom: rem(13px);
      font-size: rem(13px);
    }

    @include mobile {
      // padding-bottom: rem(4px);
      // margin-bottom: rem(6px);
      font-size: rem(13px);
    }

    &::after {
      @include center(x);
      position: absolute;
      bottom: 0;
      display: block;
      width: rem(50px);
      height: rem(4px);
      background-color: $color_text;
      content: '';

      @include laptop {
        width: rem(40px);
        height: rem(3px);
      }

      @include mobile {
        width: rem(35px);
        height: rem(3px);
      }
    }
  }

  &__text {
    @include font;
    font-size: rem(22px);
    color: $color_text;

    @include laptop {
      font-size: rem(18px);
    }

    @include mobile {
      padding: 0 rem(10px);
      font-size: rem(15px);
    }

    strong {
      @include font(700);
    }
  }
}
