.header {
  z-index: 8;
  box-shadow: 0 0 rem(10px) 0 $color_shadow;
  background: url('/images/hero/bg.png') center / cover no-repeat;

  &__logo {
    @include center(x);
    z-index: 10;
    top: 10%;

    @include laptop {
      top: 45%;
    }
  }
}
