.hero {
  background: url('/images/hero/bg.png') center / cover no-repeat;

  &__head {
    margin-bottom: rem(55px);

    @include tablet {
      margin-bottom: rem(45px);
    }

    @include mobile {
      margin-bottom: rem(35px);
    }
  }

  &__title {
    @include font('sl');
    margin-bottom: rem(10px);
    text-align: center;
    text-transform: uppercase;
    font-size: rem(150px);
    line-height: 1;
    word-break: break-word;
    color: $color_text_light;

    @include laptop {
      font-size: rem(85px);
    }

    @include mobile {
      margin-bottom: rem(15px);
      font-size: rem(50px);
    }
  }

  &__quote {
    margin-top: rem(40px);

    @include mobile {
      margin-top: rem(30px);
    }

    &-text {
      text-align: center;
      text-transform: uppercase;
      font-size: rem(44px);
      line-height: 1.1;
      color: $color_text_light;

      @include laptop {
        font-size: rem(36px);
      }

      @include mobile {
        font-size: rem(30px);
      }

      &_sub {
        font-size: rem(36px);

        @include laptop {
          font-size: rem(28px);
        }

        @include mobile {
          font-size: rem(22px);
        }
      }
    }
  }
}
