.hero {
  background: url('/images/hero/hero_bg.png') center / cover no-repeat;

  &__wrapper {
    padding: 80px 0 50px;
  }

  &__head {
    margin-bottom: 55px;
  }

  &__swiper {
    &-button {
      @include center(y);
      z-index: 1;
      overflow: hidden;
      width: 96px;
      height: 96px;
      border-radius: 50%;
      background-color: $color_secondary;
      cursor: pointer;

      @include haf {
        background: url('/images/hero/hero_bg.png') center / auto no-repeat;
      }

      &::before {
        position: absolute;
        display: block;
        width: 60px;
        height: 60px;
        background: url('/images/icons/arrowDark.png') center / contain
          no-repeat;
        content: '';
      }

      &_prev {
        left: -50px;

        &::before {
          top: 50%;
          left: 40px;
          transform: rotate(90deg) translateX(-50%);
        }
      }

      &_next {
        right: -50px;

        &::before {
          right: 40px;
          bottom: 50%;
          transform: rotate(270deg) translateX(-50%);
        }
      }
    }
  }

  &__slide {
    padding: 15px 15px 0px 15px;
    background-color: $color_secondary;

    &-pic {
      width: 100%;
      height: 550px;
      background: center / cover no-repeat;
      text-indent: -9999px;
    }

    &-title {
      padding: 7px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      color: $color_logo;
    }
  }

  &__title {
    @include font('sl');
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 150px;
    line-height: 1;
    color: $color_text_light;
  }

  &__quote {
    margin-top: 40px;

    &-text {
      text-align: center;
      text-transform: uppercase;
      font-size: 44px;
      line-height: 1.1;
      color: $color_text_light;

      &_sub {
        font-size: 35px;
      }
    }
  }
}
