.hero {
  background: url('/images/hero/hero_bg.png') center / cover no-repeat;

  &__wrapper {
    padding: rem(80px) 0 rem(50px);
  }

  &__head {
    margin-bottom: rem(55px);
  }

  &__swiper {
    padding: rem(15px) rem(15px) 0 rem(15px);
    background-color: $color_secondary;

    &-button {
      @include center(y);
      z-index: 1;
      overflow: hidden;
      width: rem(96px);
      height: rem(96px);
      border-radius: 50%;
      background-color: $color_secondary;
      cursor: pointer;

      @include haf {
        .hero__swiper-button-icon {
          color: $color_hover;
        }
      }

      &_prev {
        left: rem(-50px);

        &::before {
          top: 50%;
          left: rem(40px);
        }
      }

      &_next {
        right: rem(-50px);

        &::before {
          right: rem(40px);
          bottom: 50%;
        }
      }

      &-icon {
        font-size: rem(40px);
        color: $color_main;
        transition: color 0.3s;

        &_prev {
          position: absolute;
          top: 25%;
          left: 55%;
        }

        &_next {
          position: absolute;
          top: 25%;
          left: 15%;
        }
      }
    }
  }

  &__slide {
    &-pic {
      width: 100%;
      height: rem(550px);
      background: center / cover no-repeat;
      text-indent: -9999px;
    }

    &-title {
      padding: rem(7px) 0;
      text-align: center;
      text-transform: uppercase;
      font-size: rem(30px);
      color: $color_main;
    }
  }

  &__title {
    @include font('sl');
    margin-bottom: rem(10px);
    text-align: center;
    text-transform: uppercase;
    font-size: rem(150px);
    line-height: 1;
    color: $color_text_light;
  }

  &__quote {
    margin-top: rem(40px);

    &-text {
      text-align: center;
      text-transform: uppercase;
      font-size: rem(44px);
      line-height: 1.1;
      color: $color_text_light;

      &_sub {
        font-size: rem(35px);
      }
    }
  }
}
