.portfolio {
  background: url('/portfolio/images/portfolio/bg.png') center / cover no-repeat;

  &__filter {
    margin-bottom: rem(20px);
  }

  &__gallery {
    margin-bottom: rem(50px);

    @include mobile {
      margin-bottom: rem(40px);
    }
  }
}
