.portfolio {
  background: url('/images/portfolio/bg.png') center / cover no-repeat;

  &__filter {
    margin-bottom: rem(20px);
  }

  &__gallery {
    margin-bottom: rem(50px);

    @include mobile {
      padding-top: rem(20px);
    }
  }
}
