// Retina
@mixin retina {
  @media screen and (-webkit-min-device-pixel-ratio: 1.5),
    screen and (min-resolution: 144dpi) {
    @content;
  }
}

// Breakpoints, Desktop-first
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1439px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

// Actions
@mixin center($axis: xy) {
  position: absolute;

  @if $axis == xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == x {
    left: 50%;
    transform: translate(-50%, 0);
  }

  @if $axis == y {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin img() {
  display: block;
  max-width: 100%;
  height: auto;
}

// States
@mixin haf {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

// Fonts
@function rem($px) {
  @return $px / 16px + 0rem;
}

@mixin font($style: 400) {
  @if $style == 300 {
    font-family: '#{$font_name} Light', sans-serif;
  }

  @if $style == 400 {
    font-family: '#{$font_name} Regular', sans-serif;
  }

  @if $style == '400it' {
    font-family: '#{$font_name} Regular Italic', sans-serif;
  }

  @if $style == 700 {
    font-family: '#{$font_name} Bold', sans-serif;
  }

  @if $style == 'sl' {
    font-family: '#{$font_name} ShadowLine', sans-serif;
  }
}
