// Font variables
$font_name: 'Bertha';
$font-path_name: 'Bertha';
$font-path_name-awesome: 'Bertha';
$fa-font-path: '/fonts/fontawesome/';

// Static colors
$black: #000000;
$white: #ffffff;

// Project colors
$color_main: #3b3d40;
$color_secondary: #fbfaf6;
$color_accent: $white;
$color_accent_secondary: #707b7d;

// Sections background colors
$color_bg_about: #dfdaca;
$color_bg_portfolio: #e68d6b;
$color_bg_blog: #e0dddb;
$color_bg_contact: #4b5056;

// Text colors
$color_text_light: #f9ecdb;
$color_text_dark: #373737;

// Elements colors
$color_shadow: rgba($black, 0.25);
$color_stitch: #578b8a;
$color_ribbon: #fff2d0;
$color_hover: #6cc7bf;
$color_circle: #d55142;
$color_circle_light: #f4ece1;
