@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';

@font-face {
  font-family: '#{$font_name} Light';
  src: url('../../portfolio/fonts/#{$font-path_name}-Light.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: '#{$font_name} Regular';
  src: url('../../portfolio/fonts/#{$font-path_name}-Regular.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: '#{$font_name} Bold';
  src: url('../../portfolio/fonts/#{$font-path_name}-Bold.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: '#{$font_name} Italic';
  src: url('../../portfolio/fonts/#{$font-path_name}-Italic.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: '#{$font_name} ShadowLine';
  src: url('../../portfolio/fonts/#{$font-path_name}-ShadowLine.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
}
