.input {
  @include font(300);
  display: block;
  width: 100%;
  padding: rem(15px) rem(10px);
  border-radius: rem(5px);
  box-shadow: rem(2px) rem(2px) $color_shadow;
  font-size: rem(26px);
  line-height: 1.1;
  color: $color_text;
  background-color: $color_secondary;
  transition: all 0.3s;

  @include haf {
    color: $color_text_light;
    background-color: $color_main;

    &::placeholder {
      color: rgba($color_text_light, 0.5);
    }
  }

  &::placeholder {
    color: rgba($color_text, 0.5);
  }
}
