.gallery {
  &__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
  }

  &__item {
    width: 25%;
  }

  &__product {
    display: block;
    padding: rem(5px) rem(5px) rem(5px) rem(5px);
    margin: rem(15px);
    box-shadow: 1px -1px 3px $color_shadow;
    background-color: $color_secondary;
  }

  &__pic {
    z-index: 3;
    width: 100%;
    height: 250px;
    background: center / cover no-repeat;
  }

  &__info {
    margin-top: rem(-18px);
    text-align: center;
    line-height: rem(14px);
    color: $color_main;
  }

  &__icon {
    @include center;
    font-size: rem(30px);
    color: $color_main;

    &-wrapper {
      position: relative;
      display: inline-block;
      width: rem(60px);
      height: rem(60px);
      border-radius: 50%;
      background-color: $color_secondary;
    }
  }

  &__desc {
    position: relative;
    z-index: 4;
    text-transform: uppercase;
    font-size: rem(20px);
    line-height: 1.1;
  }
}
