.gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__product {
    padding: rem(5px) rem(5px) rem(15px) rem(5px);
    margin: rem(15px);
    background-color: $color_secondary;
    flex-basis: 25%;
  }

  &__pic {
    z-index: 3;
    width: rem(350px);
    height: rem(320px);
    background: center / cover no-repeat;
  }

  &__info {
    margin-top: rem(-18px);
    text-align: center;
    line-height: rem(14px);
  }

  &__icon {
    @include center;
    font-size: rem(30px);

    &-wrapper {
      position: relative;
      display: inline-block;
      width: rem(60px);
      height: rem(60px);
      border-radius: 50%;
      background-color: $color_secondary;
    }
  }

  &__desc {
    position: relative;
    z-index: 4;
    text-transform: uppercase;
    font-size: rem(20px);
  }
}
