.gallery {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-15px) rem(-30px);
  }

  &__item {
    width: 25%;
    padding: 0 rem(15px);
    margin-bottom: rem(30px);

    @include tablet {
      width: 50%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__project {
    display: block;
    padding: rem(6px) rem(6px) rem(20px) rem(6px);
    border-radius: 5px;
    box-shadow: rem(1px) rem(-1px) rem(3px) $color_shadow;
    background-color: $color_secondary;
    transition: all 0.3s;

    @include haf {
      background-color: $color_main;

      .gallery {
        &__icon-wrapper {
          background-color: $color_main;
        }

        &__icon,
        &__title {
          color: $color_text_light;
        }
      }
    }
  }

  &__pic {
    width: 100%;
    height: rem(300px);
    background: center / cover no-repeat;
  }

  &__info {
    margin-top: rem(-20px);
  }

  &__icon {
    @include center;
    font-size: rem(30px);
    line-height: 1;
    color: $color_text;
    transition: all 0.3s;

    &-wrapper {
      position: relative;
      width: rem(60px);
      height: rem(60px);
      margin: 0 auto rem(5px);
      border-radius: 50%;
      background-color: $color_secondary;
      transition: all 0.3s;
    }
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: rem(20px);
    line-height: 1.1;
    color: $color_text;
    transition: all 0.3s;
  }
}
