.header {
  position: relative;
  z-index: 8;
  box-shadow: 0 -1px 7px 0 $color_shadow;
  background-color: $color_main;

  &::after {
    $height: 32px;
    position: absolute;
    z-index: 4;
    bottom: -($height / 2);
    left: 0;
    display: block;
    width: 100%;
    height: $height;
    border-top: 1px dashed rgba($color_stitch, .7);
    border-bottom: 1px dashed rgba($color_stitch, .7);
    content: '';
  }
}
