.nav {
  display: flex;
  flex-wrap: wrap;
  padding: rem(20px) 0;
  margin: 0 rem(-30px);

  &-link {
    width: 25%;
    padding: rem(10px) rem(30px);
    text-transform: uppercase;
    font-size: rem(40px);
    line-height: rem(55px);
    color: $color_text_light;
    transition: all 0.3s;

    @include laptop {
      width: 50%;
      padding: rem(5px) rem(30px);
      text-align: center;
      font-size: rem(35px);
      line-height: rem(50px);
    }

    @include tablet {
      font-size: rem(30px);
      line-height: rem(40px);
    }

    @include haf {
      color: $color_accent;
    }

    &:nth-child(odd) {
      @include desktop {
        text-align: right;
      }

      @include laptop {
        padding-right: rem(80px);
      }
    }

    &:nth-child(even) {
      @include laptop {
        padding-left: rem(80px);
      }
    }

    &:nth-child(4n-2) {
      @include desktop {
        padding-right: rem(100px);
      }
    }

    &:nth-child(6n-3) {
      @include desktop {
        padding-left: rem(100px);
      }
    }
  }
}
