.swiper {
  padding: rem(15px) rem(15px) 0 rem(15px);
  background-color: $color_secondary;

  &__slide {
    &-pic {
      width: 100%;
      height: rem(550px);
      background: center / cover no-repeat;
      text-indent: -9999px;
    }

    &-title {
      padding: rem(7px) 0;
      text-align: center;
      text-transform: uppercase;
      font-size: rem(30px);
      color: $color_text;
    }
  }

  &__button {
    @include center(y);
    z-index: 1;
    overflow: hidden;
    width: rem(96px);
    height: rem(96px);
    border-radius: 50%;
    background-color: $color_secondary;
    cursor: pointer;

    @include haf {
      .swiper__button-icon {
        color: $color_accent_secondary;
      }
    }

    &-icon {
      position: absolute;
      top: 25%;
      font-size: rem(40px);
      color: $color_main;
      transition: color 0.3s;

      &_prev {
        left: 55%;
      }

      &_next {
        left: 15%;
      }
    }

    &_prev {
      left: rem(-50px);

      &::before {
        top: 50%;
        left: rem(40px);
      }
    }

    &_next {
      right: rem(-50px);

      &::before {
        right: rem(40px);
        bottom: 50%;
      }
    }
  }
}
