.swiper {
  padding: rem(15px) rem(15px) 0 rem(15px);
  background-color: $color_secondary;

  @include laptop {
    padding: rem(10px) rem(10px) 0 rem(10px);
  }

  @include mobile {
    padding: rem(7px) rem(7px) 0 rem(7px);
  }

  &__slide {
    &-pic {
      width: 100%;
      height: rem(550px);
      background: center / cover no-repeat;
      text-indent: -9999px;

      @include laptop {
        height: rem(400px);
      }

      @include mobile {
        height: rem(260px);
      }
    }

    &-title {
      padding: rem(7px) 0;
      text-align: center;
      text-transform: uppercase;
      font-size: rem(30px);
      color: $color_text;

      @include laptop {
        padding: rem(5px) 0;
        font-size: rem(20px);
      }

      @include mobile {
        padding: rem(3px) 0;
        font-size: rem(18px);
      }
    }
  }

  &__button {
    @include center(y);
    z-index: 1;
    overflow: hidden;
    width: rem(96px);
    height: rem(96px);
    border-radius: 50%;
    background-color: $color_secondary;
    cursor: pointer;

    @include laptop {
      width: rem(80px);
      height: rem(80px);
    }

    @include mobile {
      width: rem(55px);
      height: rem(55px);
    }

    @include haf {
      .swiper__button-icon {
        color: $color_accent_secondary;
      }
    }

    &-icon {
      position: absolute;
      top: 25%;
      font-size: rem(40px);
      color: $color_main;
      transition: color 0.3s;

      @include laptop {
        font-size: rem(30px);
      }

      @include mobile {
        font-size: rem(25px);
      }

      &_prev {
        left: 55%;

        @include laptop {
          left: 65%;
        }

        @include mobile {
          left: 55%;
        }
      }

      &_next {
        left: 15%;
      }
    }

    &_prev {
      left: rem(-50px);

      @include mobile {
        left: rem(-30px);
      }

      &::before {
        top: 50%;
        left: rem(40px);
      }
    }

    &_next {
      right: rem(-50px);

      @include mobile {
        right: rem(-30px);
      }

      &::before {
        right: rem(40px);
        bottom: 50%;
      }
    }
  }
}
