.swiper {
  padding: rem(15px) rem(15px) 0 rem(15px);
  background-color: $color_secondary;

  @include mobile {
    padding: rem(10px) rem(10px) 0 rem(10px);
  }

  &__slide {
    &-pic {
      width: 100%;
      height: rem(550px);
      background: center / cover no-repeat;
      text-indent: -9999px;

      @include laptop {
        height: rem(450px);
      }

      @include mobile {
        height: rem(300px);
      }
    }

    &-title {
      padding: rem(7px) 0;
      text-align: center;
      text-transform: uppercase;
      font-size: rem(30px);
      color: $color_text;

      @include mobile {
        font-size: rem(24px);
      }
    }
  }

  &__button {
    @include center(y);
    z-index: 1;
    overflow: hidden;
    width: rem(96px);
    height: rem(96px);
    border-radius: 50%;
    background-color: $color_secondary;
    cursor: pointer;

    @include laptop {
      width: rem(80px);
      height: rem(80px);
    }

    @include mobile {
      width: rem(50px);
      height: rem(50px);
    }

    @include haf {
      .swiper__button-icon {
        color: $color_accent_secondary;
      }
    }

    &-icon {
      @include center(y);
      font-size: rem(40px);
      line-height: 1;
      color: $color_main;
      transition: color 0.3s;

      @include laptop {
        font-size: rem(32px);
      }

      @include mobile {
        font-size: rem(24px);
      }

      &_prev {
        left: 55%;

        @include laptop {
          left: 65%;
        }

        @include mobile {
          left: 60%;
        }
      }

      &_next {
        right: 55%;

        @include laptop {
          right: 65%;
        }

        @include laptop {
          right: 60%;
        }
      }
    }

    &_prev {
      left: rem(-50px);

      @include mobile {
        left: rem(-30px);
      }
    }

    &_next {
      right: rem(-50px);

      @include mobile {
        right: rem(-30px);
      }
    }
  }
}
