.about__content
  ul.about__content-list
    li.about__content__item
      .about__content__item-main
        .about__content__pic
          .fas.fa-tv
        .about__content__name Movies
        .about__content__desc What I watch
        .about__content__text.
          1Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Veniam, qui totam corrupti maxime laboriosam suscipit magni quisquam, quod doloribus provident tempora explicabo a cupiditate facere animi.
          Voluptas explicabo a ea?Ipsam dolores ipsum consectetur delectus ad numquam quibusdam minus ea beatae voluptatibus, sequi laboriosam velit cumque doloribus maxime exercitationem, ab eaque.
    li.about__content__item
      .about__content__item-main
        .about__content__pic
          .fas.fa-compact-disc
        .about__content__name Music
        .about__content__desc What I listen
        .about__content__text.
          2Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Veniam, qui totam corrupti maxime laboriosam suscipit magni quisquam, quod doloribus provident tempora explicabo a cupiditate facere animi.
          Voluptas explicabo a ea?Ipsam dolores ipsum consectetur delectus ad numquam quibusdam minus ea beatae voluptatibus, sequi laboriosam velit cumque doloribus maxime exercitationem, ab eaque.
    li.about__content__item
      .about__content__item-main
        .about__content__pic
          .fas.fa-tshirt
        .about__content__name Clothes
        .about__content__desc What I wear
        .about__content__text.
          3Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Veniam, qui totam corrupti maxime laboriosam suscipit magni quisquam, quod doloribus provident tempora explicabo a cupiditate facere animi.
          Voluptas explicabo a ea?Ipsam dolores ipsum consectetur delectus ad numquam quibusdam minus ea beatae voluptatibus, sequi laboriosam velit cumque doloribus maxime exercitationem, ab eaque.
    li.about__content__item
      .about__content__item-main
        .about__content__pic
          .fas.fa-apple-alt
        .about__content__name Food
        .about__content__desc What I eat
        .about__content__text.
          4Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Veniam, qui totam corrupti maxime laboriosam suscipit magni quisquam, quod doloribus provident tempora explicabo a cupiditate facere animi.
          Voluptas explicabo a ea?Ipsam dolores ipsum consectetur delectus ad numquam quibusdam minus ea beatae voluptatibus, sequi laboriosam velit cumque doloribus maxime exercitationem, ab eaque.
