.filter
  .filter__wrapper
    .filter__title Filter by
    .filter__elements
      ul.filter__elements-list
        li.filter__elements-item
          a.filter__elements-item__link design
        li.filter__elements-item
          a.filter__elements-item__link logo
        li.filter__elements-item
          a.filter__elements-item__link photography
        li.filter__elements-item
          a.filter__elements-item__link poster
        li.filter__elements-item
          a.filter__elements-item__link resources
        li.filter__elements-item
          a.filter__elements-item__link retro
        li.filter__elements-item
          a.filter__elements-item__link t-shirts
        li.filter__elements-item
          a.filter__elements-item__link videos
