.filter
  .filter__wrapper
    .filter__title Filter by
    .filter__elements
      ul.filter__list
        li.filter__item
          a.filter__item-link design
        li.filter__item
          a.filter__item-link logo
        li.filter__item
          a.filter__item-link photography
        li.filter__item
          a.filter__item-link poster
        li.filter__item
          a.filter__item-link resources
        li.filter__item
          a.filter__item-link retro
        li.filter__item
          a.filter__item-link t-shirts
        li.filter__item
          a.filter__item-link videos
