.gallery-section
  .gallery__wrapper
    .gallery
      ul.gallery__list
        li.gallery__list__item
        li.gallery__list__item
        li.gallery__list__item
        li.gallery__list__item
        li.gallery__list__item
        li.gallery__list__item
        li.gallery__list__item
        li.gallery__list__item
