.title__ornament
    .title__ornament__line
    .title__ornament__xxx
        .title__ornament__xxx__wrapper
            .title__ornament__x
            .title__ornament__x
            .title__ornament__x
    .title__ornament__line