.ribbon
    .ribbon__dot
    .ribbon__dot
    .ribbon__dot
    .ribbon__dot
    .ribbon__left
    .ribbon__left-shadow 
    .ribbon__text Old style portfolio
    .ribbon__right-shadow
    .ribbon__right
    .ribbon__dot
    .ribbon__dot
    .ribbon__dot
    .ribbon__dot