include ../modules/section-head
include ../modules/all-button

section.section
  .blog
    .container
      .section__wrapper.blog__wrapper
        +section-head('My blog', 'News from my house')

        +all-button('Browse all')
