include ../modules/section-head
include ../modules/show-all

section.section
  .blog
    .container
      .section__wrapper.blog__wrapper
        +section-head('My blog', 'News from my house')
        include ../modules/posts
        +show-all('Show all posts')
