include ../modules/section-head
include ../modules/show-all

section.section
  .blog
    .container
      .section__wrapper.blog__wrapper
        +section-head('My blog', 'News from my house')
        .blog__posts
          include ../modules/posts
        .blog__show-all
          +show-all('Show all posts')
