include ../modules/section-head

section.section
  .contact
    .container
      .section__wrapper.contact__wrapper
        +section-head("Contact me", "I'll be glad to answer your questions!", true)
        .contact__form
          include ../modules/form
        .contact__social
          include ../modules/social
