header.header.section.section_after-only
  .container
    .header__wrapper
      .header__nav
        include ../modules/nav
      .header__logo
        include ../elements/logo
      include ../modules/mobile-menu
