header.header.section.section_after-only
  .container
    .header__wrapper
      nav.header__nav
        each text in nav
          a(href="#").header__nav-link= text
      .header__logo
        img(src="./images/logo-bg.png" alt="Logo background").header__logo-img
        .header__logo-letter M
