.hero
    .container
        .hero__title Retro
        include ../elements/ribbon
        .hero__swiper
            include ../modules/swiper
        .hero__quote
            p.hero__quote__txt "HELLO, I AM JOHN DOE
            p.hero__quote__txt.hero__quote__txt_sm WELCOME TO RETRO, MY WONDERFUL THEME!"
        