include ../elements/ribbon

section.section
  .hero
    .container
      .section__wrapper.hero__wrapper
        .hero__head
          .hero__title M's Portfolio
          .hero__ribbon
            +ribbon
        .hero__swiper
          include ../modules/swiper
        .hero__quote
          .hero__quote-text "Hello! I am M!
          .hero__quote-text.hero__quote-text_sub Welcome to my Portfolio!"
