section.section
  .hero
    .container
      .hero__wrapper
        .hero__head
          .hero__title M's Portfolio
          include ../elements/ribbon
          +ribbon
        .hero__swiper
          .swiper-container
            .swiper-wrapper(style='' title='')
              each slide in heroSlides
                .swiper-slide
                  .hero__slide
                    .hero__slide-pic(
                      style=`background-image:url('${slide.src}')`
                    )= slide.alt
                    .hero__slide-title= slide.alt
            .hero__swiper-button.hero__swiper-button_prev
              .hero__swiper-button-icon.hero__swiper-button-icon_prev
                span.fas.fa-chevron-left
            .hero__swiper-button.hero__swiper-button_next
              .hero__swiper-button-icon.hero__swiper-button-icon_next
                span.fas.fa-chevron-right
        .hero__quote
          .hero__quote-text "Hello! I am M!
          .hero__quote-text.hero__quote-text_sub Welcome to my Portfolio!"
