section.section
  .portfolio
    .container
      .about__wrapper
        .section-title
          .section-title__wrapper
            include ../elements/title-text
            +title-text('Portfolio')
            include ../elements/ornament
            include ../elements/title-desc
            +title-desc('Simplicity is the ultimate sophistication')
            include ../elements/filter
          include ../elements/gallery
