include ../modules/section-head

section.section
  .portfolio
    .container
      .section__wrapper.about__wrapper
        +section-head('Portfolio', 'Simplicity is the ultimate sophistication')
        include ../elements/filter
        include ../elements/gallery
