include ../modules/section-head
include ../modules/all-button

section.section
  .portfolio
    .container
      .section__wrapper.portfolio__wrapper
        +section-head('Portfolio', 'Simplicity is the ultimate sophistication')
        include ../modules/filter
        include ../modules/gallery
        +all-button('Browse all')
