include ../modules/section-head
include ../modules/show-all

section.section
  .portfolio
    .container
      .section__wrapper.portfolio__wrapper
        +section-head('Portfolio', 'Simplicity is the ultimate sophistication')
        .portfolio__filter
          include ../modules/filter
        .portfolio__gallery
          include ../modules/gallery
        .portfolio__show-all
          +show-all('Browse all')
